
.searchContainer{

}
.form {
	margin-top: 20px;
	padding-left:10px;
	height:50px;
}
.lists{
	min-height:30px;
	list-style-type: none;
	text-align:center;
}
li{
	cursor:pointer;
	list-style-type:none;
}
.trash{
	font-size:;
}
.toggleForm {
	margin-top: 20px;
	padding-left:10px;
}
#toggleButton{
	display:inline;
}
#searchForm{
	display:inline;
}
.searchList{
	text-align:center;
	display:none;
}
.container{
	width:100%;
	height:100%;
}
.toggleForm{
	height:50px;
}
.group{
	text-align: center;
}
#map-canvas{

	height: 100%;
	margin: 50px;
	padding: 0px;
}
.rand{
	font-size:8px;
}
#mapToggle{
	padding-left:6px;
}
.toggleForm{
	padding-left:16px;
}
.theMap{
	display:none;
}





